html {
    scroll-behavior: smooth;
}

/* Nav bar */
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 12vh;
  padding: 2.5rem 5rem;
}

.nav-title {
    color: #1470af;
    font-weight: 300;
    font-size: 1.3rem;
    align-self: center;
}

.nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-projects:hover {
  color:rgb(41, 37, 37);
  transition: transform 0.6s ease;
}

.nav-contact {
  margin-left: 2.5rem;
  color: #FFFFFF;
  background-color: #1470af;
  border: 1px solid #1470af;
  padding: 0.8rem 2rem;
}

.nav-contact:hover {
  box-shadow: 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #1470af;
  background-color: #FFFFFF;
  transition: transform 0.6s ease;
}


/* Presentation */
.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 88vh;
  width: 100vw;
  background-color: #eaeaee;
  border-bottom: 1px solid black;
}

.presentation-content {
  width: 35vw;
}

.presentation-title {
  font-size: 6rem;
}

.presentation-text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  
}

/* .presentation-options {
  display: flex;
  justify-content: center;
} */

.presentation-button {
  padding: 1.8rem 10rem;
  background-color: #1470af;
  border: 1px solid black;
  border-radius: 4rem;
}

.presentation-button:hover {
  background-color: #FFFFFF;
  color: #1470af;
  border: 1px solid #1470af;
  box-shadow: 4px 6px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
  transition: transform 0.6s ease;
}

.profile-pic-container {
  height: 33vw;
  border-radius: 5rem;
  overflow: hidden;
}

.profile-pic {
  height: 33vw;
  border-radius: 5rem;
}

.profile-pic:hover {
  transition: transform 0.6s ease;
  transform: scale(1.2);
}


/* Services */
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.services-pic-container {
  height: 100vh;
}

.services-pic {
  height: 100vh;
}

.services-content{
  padding: 5rem 10rem;
  width: 100%;
}

.services-title {
  font-size: 4rem;
  margin-bottom: 5rem;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}

.service-text {
  font-weight: 300 !important;
  font-size: 1.3rem;
}

.artificial-inteligence-service,
.web-development-service {
  margin-bottom: 4.5rem;
}

/* Products */
.products {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.product-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-container p {
  text-align: center;
}

.product-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.product-description {
    font-size: 1.1rem;
}

.products-icon {
  height: 3rem;
  stroke: white;
  stroke-width: 1;
}


/* Technologies */
.technologies {
  height: 100vh;
  width: 100vw;
  padding-top: 7rem;
  border-bottom: 1px solid black;
}

.technologies-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.technologies-title {
  font-size: 4rem;
  text-align: center;
}

.technology-container {
  width: 25vw;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

.technology-title {
  font-size: 1.8rem;
}

.technology-description {
  font-size: 1.1rem;
}


/* Social Media */
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 100vw;
  color: white;
  background-color: #1470af;
}

.contact-information {
    padding: 5rem;
}

.contact-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.contact-img {
  height: 70vh;
}

.contact-items {
  display: flex;
  justify-content: space-between;
  width: 9rem;
}

.contact-icon {
  height: 2.5rem;
  filter: brightness(0) invert(1);
}



/* Reusable */
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

