* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto, sans-serif';
  font-weight: 400;
  font-style: normal;
}

#root {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Reusable */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

